<ul><% if @article.errors.any? %>
<h2> There was a problem creating your article.</h2></br>
<% @article.errors.full_messages.each do |msg| %>
<li><p><%= msg %></li></br>
</p><% end %>
</ul>
<% end %>
<%= form_for @article do |f| %>
<p>
<%= f.label :title %><br/>
<%= f.text_field :title %>
<br/><br/>
<%= f.label :description %><br/>
<%= f.text_area :description %>
<br/><br/>

<%= f.submit  :class => "button" %><br/>
</p>
<% end %>
<br/>

<%= link_to "Back to articles listing", articles_path %>
